{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col l12 m12 s12 center-align">
      <hr>
      <a href="{% url 'listings' %}" class="waves-effect waves-light btn-large light-blue darken-1">View Listings</a>
      <hr>
    </div>
    <div class="col l12 m12 s12 center-align">
      <div class="col l4 m12 s12">
        <img class="home-image" src="{% static 'images/sj-lcw-swim.jpg' %}" alt="swimming in wales">
      </div>
      <div class="col l4 m12 s12">
        <img class="home-image" src="{% static 'images/sj-lcw-bike.jpg' %}" alt="biking in wales">
      </div>
      <div class="col l4 m12 s12">
        <img class="home-image" src="{% static 'images/sj-lcw-run.jpg' %}" alt="running in wales">
      </div>
    </div>
  </div>
</div>

{% endblock %}