{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Edit a Seller Status
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'edit_seller_status' profile.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formb }}
                    <div class="text-right">
                        <a class="btn red" href="{% url 'profile_admin' %}">Cancel</a>
                        <button class="btn pink" type="submit">Update Seller Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}