{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Edit a Seller Status
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'edit_seller_status' profile.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="edit-seller-status-box">
                        <input type="checkbox" id="edit-seller-status-box" />
                        <span>Is Seller?</span>
                    </label>
                    <div>
                        <a class="btn red" href="{% url 'profile_admin' %}">Cancel</a>
                        <button class="btn light-blue darken-1" type="submit">Update Seller Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}