{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12 m12 s 12">
            {% for profile in profiles %}
            <ul class="collection">
                <li class="collection-item avatar">
                  <img src="" alt="" class="circle">
                  <span class="title">{{ profile.athlete }}</span>
                  <p> Is Seller?: {{ profile.is_seller }} <br>
                    <a href="{% url 'edit_seller_status' profile.id %}"> Edit Seller Status </a>
                  </p>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}