{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="">
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <hr>
            <h3>Welcome {{ profile.athlete }}.</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <p>Default Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ forma }}
                <button class="btn pink">Update Information</button>
            </form>
        </div>
        <div class="col s6">
            <p>Order History</p>
            <table>
                <thead>
                  <tr>
                      <th>Order Number</th>
                      <th>Date</th>
                      <th>Order Items</th>
                      <th>Order Total</th>
                  </tr>
                </thead>
        
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td> Order Number </td>
                        <td> Order Date </td>
                        <td> Order Grand Total </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    {% endblock %}