{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12 center-align">
            <hr>
            <h2>Thank You</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col 12">
            <div class="row">
                <div class="col">
                    <h4>Order Summary</h4>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Order Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.date }}</td>
                            <td>
                                {% for item in order.lineitems.all %}
                                {{ item.listing.name }} <br>
                                {{ item.quantity }} @ £{{ item.listing.price }} each
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Delivery Summary</h4>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address 1</th>
                            {% if order.street_address2 %}
                            <th>Address 2</th>
                            {% endif %}
                            {% if order.county %}
                            <th>County</th>
                            {% endif %}
                            <th>Town/City</th>
                            {% if order.postcode%}
                            <th>Postcode</th>
                            {% endif %}
                            <th>Country</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.full_name }} </td>
                            <td>{{ order.street_address1 }}</td>
                            {% if order.street_address2 %}
                            <td>{{ order.street_address2 }}</td>
                            {% endif %}
                            {% if order.county %}
                            <td>{{ order.county }}</td>
                            {% endif %}
                            <td>{{ order.town_or_city}}</td>
                            {% if order.postcode%}
                            <td>{{ order.postcode }}</td>
                            {% endif %}
                            <td>{{ order.country }}</td>
                            <td>{{ order.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Payment Summary</h4>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Order Total</th>
                            <th>Delivery Cost</th>
                            <th>Grand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.order_total }} </td>
                            <td>{{ order.delivery_cost }}</td>
                            <td>{{ order.grand_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col 12">
                    {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn light-blue darken-1">
                        <span>
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                    {% else %}
                    <a href="{% url 'listings' %}" class="btn light-blue darken-1">
                        <span>
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span>Back to the listings!</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}