{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l12 m12 s12 center-align">
                <hr>
                <h2>Thank You</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to
                    <strong>{{ order.email }}</strong>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col l12 m12 s12">
                <h4>Order Summary</h4>
                <p>Order Number: {{ order.order_number }}</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Order Details</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ order.date }}</td>
                        <td>
                            {% for item in order.lineitems.all %}
                            {{ item.listing.name }} <br>
                            {{ item.quantity }} @ £{{ item.listing.price }} each
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col l12 m12 s12">
                <h4>Delivery Summary</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.full_name }} </td>
                            <td>
                                <p>
                                    {{ order.street_address1 }},<br>
                                    {% if order.street_address2 %}
                                    {{ order.street_address2 }},<br>
                                    {% endif %}
                                    {% if order.county %}
                                    {{ order.county }},<br>
                                    {% endif %}
                                    {{ order.town_or_city}},<br>
                                    {% if order.postcode%}
                                    {{ order.postcode }},<br>
                                    {% endif %}
                                    {{ order.country }}
                                </p>
                            </td>
                            <td>{{ order.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col l12 m12 s12">
                <h4>Payment Summary</h4>

                <table>
                    <thead>
                        <tr>
                            <th>Order Total</th>
                            <th>Delivery Cost</th>
                            <th>Grand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.order_total }} </td>
                            <td>{{ order.delivery_cost }}</td>
                            <td>{{ order.grand_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col l12 m12 s12">
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn light-blue darken-1">
                    <span>
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span>Back to Profile</span>
                </a>
                {% else %}
                <a href="{% url 'listings' %}" class="btn light-blue darken-1">
                    <span>
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span>Back to the listings!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}