{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <hr>
            <h2>Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col l6">
            <h4 class="text-muted">Order Summary ({{ listing_count }})</h4>
            <div class="row">
                <div class="col l6">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Sub-Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in basket_items %}
                            <tr>
                                <td>{{ item.listing.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>£{{ item.listing.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col l6">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Order Total</th>
                                <th>Delivery</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>£{{ total | floatformat:2 }}</td>
                                <td>£{{ delivery | floatformat:2 }}</td>
                                <td>£{{ grand_total | floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col l6">
            <p>Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend>Details</legend>
                    {{ order_form.full_name }}
                    {{ order_form.email }}
                </fieldset>
                <fieldset>
                    <legend>Delivery</legend>
                    {{ order_form.phone_number }}
                    {{ order_form.country }}
                    {{ order_form.postcode }}
                    {{ order_form.town_or_city }}
                    {{ order_form.street_address1 }}
                    {{ order_form.street_address2 }}
                    {{ order_form.county  }}
                    <div>
                        {% if user.is_authenticated %}
                        <label for="save-info-box">
                            <input type="checkbox" id="save-info-box" />
                            <span>Save this delivery information to my
                                profile</span>
                        </label>
                        {% else %}
                        <label for="save-info-box">
                            <a href="{% url 'account_signup' %}">Create an account</a> or
                            <a href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="red-text" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button">
                    <a href="{% url 'view_basket' %}" class="btn teal">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Adjust Basket</span>
                    </a>
                    <button id="submit-button" class="btn light-blue darken-1 unstyled-btn">
                        <span>Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="red-text">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}