{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row center-align">
        <div class="col s12">
            {% if request.user.is_superuser %}
            <a href="{% url 'add_category' %}" class="waves-effect waves-light btn light-blue darken-1">Add Category</a>
            <a href="{% url 'add_condition' %}" class="waves-effect waves-light btn light-blue darken-1">Add
                Condition</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l6 m6 s12">
            <h5 class="center-align">Categories</h5>
            {% for category in categories %}
            <ul class="collection">
                <li class="collection-item">{{ category.name }}
                    {% if request.user.is_superuser %}
                    <div class="secondary-content">
                        <a href="{% url 'edit_category' category.id %}">Edit</a> <br>
                        <a href="#modal--{{ category.id }}" class="modal-trigger red-text">Delete</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
            <!-- Modal Structure Category -->
            <div id="modal--{{ category.id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <p>{{ category.name }} will be permanently deleted along with any associated Listings!</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'delete_category' category.id %}" class="modal-close btn-flat red-text">Delete</a>
                    <a href="" class="modal-close btn-flat teal-text">Cancel</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col l6 m6 s12">
            <h5 class="center-align">Conditions</h5>
            {% for condition in conditions %}
            <ul class="collection">
                <li class="collection-item">{{ condition.status }}
                    {% if request.user.is_superuser %}
                    <div class="secondary-content">
                        <a href="{% url 'edit_condition' condition.id %}">Edit</a> <br>
                        <a href="#modal-{{ condition.id }}" class="modal-trigger red-text">Delete</a>
                    </div>
                    {% endif %}
                </li>
            </ul>

            <!-- Modal Structure Condition -->
            <div id="modal-{{ condition.id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <p>{{ condition.status }} will be permanently deleted along with any associated Listings!</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'delete_condition' condition.id %}" class="modal-close btn-flat red-text">Delete</a>
                    <a href="" class="modal-close btn-flat teal-text">Cancel</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let modal = document.querySelectorAll('.modal');
        M.Modal.init(modal);
    });
</script>
{% endblock %}