{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Edit a Category
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'edit_category' category.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div>
                        <a class="btn red" href="{% url 'listings' %}">Cancel</a>
                        <button class="btn light-blue darken-1 unstyled-btn" type="submit">Update Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}