{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {{ listing }}
            {{ listing.condition }}
            {{ listing.description }}
            {{ listing.price }}
            {{ listing.image }}
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_listing' listing.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_listing' listing.id %}">Delete</a>
            </small>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}