{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row center-align">
        <div class="col s12">
            {% if request.user.is_superuser %}
            <a href="{% url 'add_category' %}" class="waves-effect waves-light btn light-blue darken-1">Add Category</a>
            <a href="{% url 'add_condition' %}" class="waves-effect waves-light btn light-blue darken-1">Add Condition</a>
            {% endif %}
            {% if request.user.profile.is_seller %}
            <a href="{% url 'add_listing' %}" class="waves-effect waves-light btn light-blue darken-1">Add Listing</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            {% for listing in listings %}
            <ul class="collection">
                <li class="collection-item avatar">
                    {% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="{{ listing.name }}" class="circle">
                    {% endif %}
                    <span class="title">
                        <a href="{% url 'listing_info' listing.id %}">{{ listing.name }}</a>
                    </span>
                    <p>Price: £{{ listing.price }} <br>
                        Condition: {{ listing.condition }}
                    </p>
                    {% if listing.lister|lower == request.user|lower or request.user.is_superuser %}
                    <div class="secondary-content">
                        <a href="{% url 'edit_listing' listing.id %}">Edit</a> <br>
                        <a href="#modal-{{ listing.id }}" class="modal-trigger red-text">Delete</a>
                    </div>
                    {% endif %}
                </li>
            </ul>

            <!-- Modal Structure -->
            <div id="modal-{{ listing.id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <p>{{ listing.name }} will be permanently deleted!</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'delete_listing' listing.id %}" class="modal-close btn-flat red-text">Delete</a>
                    <a href="" class="modal-close btn-flat green-text">Cancel</a>
                </div>
            </div>
            {% empty %}
            {% if request.GET.category %}
            No listings found for {{ request.GET.category }}.
            {% endif %}
            {% if request.GET.condition %}
            No listings found for {{ request.GET.condition }}.
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let modal = document.querySelectorAll('.modal');
        M.Modal.init(modal);
    });
</script>
{% endblock %}