{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if request.user.profile.is_seller %}
            <a href="{% url 'add_listing' %}">Add Listing</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for listing in listings %}
            <a href="{% url 'listing_info' listing.id %}"> {{ listing.name }} {{ listing.lister }}</a>

            {% if listing.lister|lower == request.user|lower or request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_listing' listing.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_listing' listing.id %}">Delete</a>
            </small>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}