{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    <div class="row">
        <div class="col">
            <hr>
            <h2 class="center-align">Shopping Basket</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col l6">
            {% if basket_items %}
            <table class="stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantitiy</th>
                        <th>Sub-Total</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <td>{{ item.listing.name }}</td>
                        <td>£{{ item.listing.price }}</td>
                        <td>
                            <form class="form form-update" action="{% url 'amend_basket' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <input class="center-align" type="number" name="quantity" value="{{ item.quantity }}"
                                    min="1" max="99">
                            </form>
                            <a class="update-button btn-small teal">Update</a> | <a id="remove_{{ item.item_id }}" class="remove-button btn-small red">Remove</a>
                        </td>
                        <td>£{{ item.listing.price | calc_subtotal:item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col s6">
            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
            <p class="text-red">
                You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
        </div>

        <div class="col s12">
            <a href="{% url 'checkout' %}" class="btn pink"> Go to Checkout </a>
            {% else %}
            <p class="lead mb-5">Your basket is empty.</p>
            <a href="{% url 'listings' %}" class="btn red">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block postloadjs %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-button').click(function(e) {
        var form = $(this).prev('.form-update');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-button').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `/basket/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken,};

    $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}