body {
    color: #555;
    font-family: "Luckiest Guy";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.xs-btn {
    font-size: 9px !important;
    line-height: 18px !important;
    height: 18px !important;
    padding: 0 5px !important;
}