body {
    color: #616161;
    font-family: "Luckiest Guy";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin-bottom: 3em !important;
  }

.xs-btn {
    font-size: 9px !important;
    line-height: 18px !important;
    height: 18px !important;
    padding: 0 5px !important;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0px 10px !important;
}

.select-wrapper+label {
  position: unset !important;
}

.unstyled-btn {
  font-family: "Luckiest Guy";
}

.home-image {
  width: 150px;
  height: 200px;
  border-radius: 35%;
}

.msg-row {
  margin-bottom: 0 !important;
}