<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-listings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Listings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-listings-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Condition</a>
                <a href="" class="dropdown-item ">By Discipline</a>
                <a href="{% url 'listings' %}" class="dropdown-item">All Listings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="swim-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swim
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="swim-link">
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">All Swim</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bike-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bike
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bike-link">
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">All Bike</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="run-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Run
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="run-link">
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">TBC</a>
                <a href="" class="dropdown-item">All Run</a>
            </div>
        </li>
    </ul>
</div>