{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block corecss %}
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Luckiest+Guy&family=Monoton&display=swap"
    rel="stylesheet">
  <!-- Materialize CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/9dd0908621.js" crossorigin="anonymous"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <!-- Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  <title>Just Tri It! {% block extra_title %}{% endblock %}</title>
</head>

<body>

  <main>
    <nav class="nav-extended red accent-2">
      <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">Just Tri It!</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <li><a href="{% url 'profile_admin' %}">Profile Admin</a></li>
          {% endif %}
          {% if request.user.profile.is_seller %}
          <li><a href="{% url 'listings' %}">Listing Admin</a></li>
          {% endif %}
          <li><a href="{% url 'profile' %}">Athlete Profile</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
          <li>
            <a href="{% url 'view_basket' %}">
              <i class="fas fa-shopping-bag fa-lg"></i>
              {% if grand_total %}
              £{{ grand_total|floatformat:2 }}
              {% else %}
              £0.00
              {% endif %}
            </a>
          </li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
          <li>
            <a href="{% url 'view_basket' %}">
              <i class="fas fa-shopping-bag fa-lg"></i>
              {% if grand_total %}
              £{{ grand_total|floatformat:2 }}
              {% else %}
              £0.00
              {% endif %}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Toast Messages -->
    {% if messages %}
    <aside class="container-fluid teal white-text">
      {% for message in messages %}
      <div class="row">
        <div class="col">
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </aside>
    {% endif %}

    <div class="row">
      <div class="center-align">
        <h5>Place an order over £{{ free_delivery_threshold }} for free delivery!</h5>
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s4 center-align">
        <a class="dropdown-trigger btn light-blue darken-1" href='#' data-target='category-dropdown'>Categories</a>
        <ul id='category-dropdown' class='dropdown-content'>
          <li><a class="light-blue-text" href="{% url 'listings' %}">All Listings</a></li>
          {% for category in all_categories %}
          <li><a class="light-blue-text" href="{% url 'listings' %}?category={{category}}">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col l4 m4 s4 center-align">
        <div class="col l4 m4 s4">
          <i class="fas fa-swimmer light-blue-text center-align small"></i>
        </div>
        <div class="col l4 m4 s4">
          <i class="fa-sharp fa-solid fa-person-biking teal-text center-align small"></i>
        </div>
        <div class="col l4 m4 s4">
          <i class="fas fa-running red-text accent-2 center-align small"></i>
        </div>
      </div>
      <div class="col l4 m4 s4 center-align">
        <a class="dropdown-trigger btn light-blue darken-1" href='#' data-target='condition-dropdown'>Condition</a>
        <ul id='condition-dropdown' class='dropdown-content'>
          {% for condition in all_conditions %}
          <li><a class="light-blue-text" href="{% url 'listings' %}?condition={{condition}}">{{ condition }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <ul class="sidenav teal" id="mobile-demo">
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <li><a class="white-text" href="{% url 'profile_admin' %}">Profile Admin</a></li>
      {% endif %}
      {% if request.user.profile.is_seller %}
      <li><a class="white-text" href="{% url 'listings' %}">Listing Admin</a></li>
      {% endif %}
      <li><a class="white-text" href="{% url 'profile' %}">Athlete Profile</a></li>
      <li><a class="white-text" href="{% url 'account_logout' %}">Log Out</a></li>
      <li>
        <a class="white-text" href="{% url 'view_basket' %}">
          <i class="fas fa-shopping-bag fa-lg white-text"></i>
          {% if grand_total %}
          £{{ grand_total|floatformat:2 }}
          {% else %}
          £0.00
          {% endif %}
        </a>
      </li>
      {% else %}
      <li><a class="white-text" href="{% url 'account_login' %}">Login</a></li>
      <li><a class="white-text" href="{% url 'account_signup' %}">Register</a></li>
      <li>
        <a class="white-text" href="{% url 'view_basket' %}">
          <i class="fas fa-shopping-bag fa-lg white-text"></i>
          {% if grand_total %}
          £{{ grand_total|floatformat:2 }}
          {% else %}
          £0.00
          {% endif %}
        </a>
      </li>
      {% endif %}
    </ul>

    {% block content %}
    {% endblock %}

    {% block page_header %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </main>

  <footer class="page-footer red accent-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Just Tri It!</h5>
          <p class="grey-text text-lighten-4">The used triathlon gear marketplace.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2022 Copyright Just Tri It
        <a class="grey-text text-lighten-4 right" href="https://github.com/sniclasj" target="_blank">Site by Sion Jones</a>
      </div>
    </div>
  </footer>

  <script>
    $(document).ready(function () {
      $('select').formSelect();
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
    });
  </script>

</body>

</html>